.container {
  background-color: whitesmoke;
  text-align: center;
  margin: auto;
  max-width: 800px;
}

.card-white {
  background-color: whitesmoke;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  margin: 20px;
  padding: 20px;
}


